<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3aYdx9S4IWjxFoc2x1q2jLki_1LwvMA8</string>
	<key>GCM_SENDER_ID</key>
	<string>656403595694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.missionVardi</string>
	<key>PROJECT_ID</key>
	<string>krishiwings</string>
	<key>STORAGE_BUCKET</key>
	<string>krishiwings.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656403595694:ios:fe2b5b24d9efc2fcc0083f</string>
</dict>
</plist>